# SPDX-License-Identifier: Unlicense

# This file would normally be named `.gitmodules`, but I have intentionally
# renamed it to prevent Neovim plugin managers from picking up on it.  This
# avoids the problem where the submodules would get installed for users of the
# plugin.

[submodule ".luals/addons/luassert"]
	path = .luals/addons/luassert
	url = https://github.com/LuaCATS/luassert
[submodule ".luals/addons/busted"]
	path = .luals/addons/busted
	url = https://github.com/LuaCATS/busted
[submodule "test/bin"]
	path = test/bin
	url = https://gitlab.com/HiPhish/nvim-busted-shims.git

# vim:ft=gitconfig
