[submodule "test/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter"]
	path = test/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "test/xdg/local/share/nvim/site/pack/testing/start/yo-dawg"]
	path = test/xdg/local/share/nvim/site/pack/testing/start/yo-dawg
	url = https://github.com/HiPhish/yo-dawg.nvim.git
