# SPDX-License-Identifier: Unlicense

# Hack: because most plugin managers will try to automatically download
# submodules I have renamed the `.gitmodules` file.  Contributors will have to
# symlink the `.submodules` file to `.gitmodules` before they can use submodule
# commands

# Tag file created by Vim
doc/tags

# Fake user directory structures
test/xdg/local/share/nvim/
test/xdg/local/state/nvim/
!test/xdg/local/share/nvim/site/pack/testing/start/rainbow-delimiters

test/highlight/samples/gleam/build
