# Tag file created by Vim
doc/tags

# Fake user directory structures
test/xdg/local/share/nvim/
test/xdg/local/state/nvim/
!test/xdg/local/share/nvim/site/pack/testing/start/rainbow-delimiters

test/highlight/samples/gleam/build
